body{
    font-family: "Gabarito", sans-serif;
    background-color: aqua;
    font-size: 18px;
    line-height: 1.3;
}

.avatar img{
    width: 100px;
    border-radius: 100%;
}

.container{
    width: 334px;
    margin: 0 auto;
}

header{
    padding: 40px 0;
}

header h1{
    font-size: 20px;
    font-weight: 700;
}

header .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;

}

.links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links a{
    font-weight: 600;
    text-decoration: none;
    color: #000;
    text-align: center;
    border: 2px solid black;
    border-radius: 40px;
    padding: 10px;
    background-color: turquoise;
    -webkit-box-shadow: 6px 6px 0px 1px #000000; 
    box-shadow: 8px 8px 0px 1px #000000;
}

.links a{
    background-repeat: no-repeat;
    background-position: center left 15px;
    padding-left: 10px;
    transition: transform .15s ease, box-shadow .15s ease;
}

.links a:hover {
    transform: translate(-2px,-2px);
    box-shadow: 10px 18px 0 0 black

}

.links a.email{
    background-image: url(../assets/email\ icon.png);
    background-size: 20px 20px;
}

.links a.whatsapp{
    background-image: url(../assets/whatsapp\ icon.png);
    background-size: 20px 20px;
}

.links a.github{
    background-image: url(../assets/github\ icon.png);
    background-size: 30px 20px;
}

.links a.linkedin{
    background-image: url(../assets/linkedin\ icon.png);
    background-size: 20px 20px;
}

footer{
    text-align: center;
    padding: 40px 0;
}

/* Formatação para uso em dispositivos móveis */

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}